.profile-page {
  display: flex;
  flex-direction: row;

  gap: 24px;

  justify-content: center;
  align-items: flex-start;

  margin: 24px 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }
}
