.challenge-list-container {
  .chanllenge-option {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  .challenge-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 16px;
  }
}
