.modal-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.category {
  font-size: 15px;
  font-weight: 300;
}
.textfield {
  display: flex;
  width: 50%;
}
