.navbar-header {
  height: 120px;

  padding: 24px;

  box-sizing: content-box;

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 1.25rem;
    font-weight: 600;
    line-height: 150%;

    @media screen and (max-width: 1024px) {
      font-size: 1rem;

      .nav-logo {
        width: 50%;
        height: 50%;
      }
    }

    .navbar-leftside {
      display: flex;
      flex-direction: row;
      gap: 24px;

      .nav-link {
        height: fit-content;
      }
    }
  }
}
